@import 'tailwindcss';
@import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Satoshi', sans-serif;
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .font-integral {
    font-family: 'Integral CF', sans-serif;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
